* {
	margin:0;
	padding:0;
}

html, body {
	height: 100%;
}

.gradiente_nav{
  width: 100%;
  background: aqua; /* color de referencia */
  background: -webkit-linear-gradient(left,rgba(0,0,255,0.1),rgba(0,0,255,0.4)); /* para navegadores Safari */
  background: -o-linear-gradient(right,rgba(0,0,255,0.1),rgba(0,0,255,0.4)); /*para navegadores Opera */
  background: -moz-linear-gradient(right,rgba(0,0,255,0.1),rgba(0,0,255,0.4)); /*para navegadores Fx */
  background: linear-gradient(to right, rgba(0,0,255,0.1), rgba(0,0,255,0.4)); /*para navegadores Standard*/
}